/* Reset básico */
head{
    background-color: #0d6b22;
}
body{ font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6f6f51;;
    color: var(--color-texto);
    line-height: 1.8;
}
header{
    background-color: #0d6b22;
    color: #f1f1f1;
    text-align: center;
    /* Text-align sólo funciona en elemento en bloque porque afecta al contenido dentro del bloque.
    No funciona en elementos en línea porque estos ocupan solo el espacio necesario para su contenido. */
}

footer{
    background-color: #0d6b22;
}